In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import env
import acquire
import prepare

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [3]:
SEED = 21

In [4]:
df = acquire.get_titanic_data()
df = prepare.prep_titanic(df)
df = df.drop(columns=['sex','embark_town'])
df.head()

,survived,pclass,sibsp,parch,fare,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,0,3,1,0,7.2500,0,0,1,0,0,1
1,1,1,1,0,71.2833,0,1,0,1,0,0
2,1,3,0,0,7.9250,1,1,0,0,0,1
3,1,1,1,0,53.1000,0,1,0,0,0,1
4,0,3,0,0,8.0500,1,0,1,0,0,1

In [5]:
train, val, test = prepare.split_data(df,target='survived')
train.shape,val.shape,test.shape

((711, 11), (124, 11), (54, 11))

In [6]:
X_train = train.drop(columns='survived')
y_train = train.survived

X_val = val.drop(columns='survived')
y_val = val.survived

X_test = test.drop(columns='survived')
y_test = test.survived

Create KNeighbors object and fit it

In [7]:
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [8]:
y_pred = knn.predict(X_train)
y_pred_proba = knn.predict_proba(X_train)
knn.score(X_train, y_train)

0.8368495077355836

In [11]:
print(confusion_matrix(y_train, y_pred))
print(classification_report(y_train, y_pred))

[[391  48]
 [ 68 204]]
              precision    recall  f1-score   support

           0       0.85      0.89      0.87       439
           1       0.81      0.75      0.78       272

    accuracy                           0.84       711
   macro avg       0.83      0.82      0.82       711
weighted avg       0.84      0.84      0.84       711